<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.paulgit.alfredipinfo</string>
	<key>connections</key>
	<dict>
		<key>16B3F428-D0D9-45DB-833D-9A5B709EC3B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1E9334D-A9DF-472A-9F0C-778FA94CB9D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B8BAD2F-12C5-433D-9475-DD53165DCC04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8C410D5-CB94-46C4-9998-8B1A644A86F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>431C45F3-D0D0-4E98-A914-ECD6F6A0FB87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1E9334D-A9DF-472A-9F0C-778FA94CB9D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54901FDD-C4F5-4671-97CD-7A6F8D06BD72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16B3F428-D0D9-45DB-833D-9A5B709EC3B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8C410D5-CB94-46C4-9998-8B1A644A86F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CCB9FCA1-8490-4BA8-91F6-8B2DCF60BE17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C991287B-0F95-4196-B6C7-C20B31E3CC11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7C68382-DB51-47C1-9579-573796A9030C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E321582E-0B25-4EE1-A3F5-155AB13C2188</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>557EEBD1-608E-4869-BEEB-98B84EE9AF0C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CCB9FCA1-8490-4BA8-91F6-8B2DCF60BE17</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7C68382-DB51-47C1-9579-573796A9030C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E321582E-0B25-4EE1-A3F5-155AB13C2188</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E8CB6FDB-42CE-436F-A642-6394C9670082</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1E9334D-A9DF-472A-9F0C-778FA94CB9D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C991287B-0F95-4196-B6C7-C20B31E3CC11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Paul Git (@paulgit)</string>
	<key>description</key>
	<string>Lookup IP address information</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>IP Info</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>{var:split2}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B7C68382-DB51-47C1-9579-573796A9030C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ipinfo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching your IP address information</string>
				<key>script</key>
				<string>UNAME_MACHINE="$(/usr/bin/uname -m)"
if [[ "${UNAME_MACHINE}" == "arm64" ]]
then
  HOMEBREW_PREFIX="/opt/homebrew"
else
  HOMEBREW_PREFIX="/usr/local"
fi

if command -v "$HOMEBREW_PREFIX/bin/python3" 1&gt;/dev/null 2&gt;&amp;1; then
	$HOMEBREW_PREFIX/bin/python3 main.py my_ipinfo $1
else
    echo '{
  "items": [
    {
      "title": "Python3 is required by this work flow",
      "subtitle": "Hit enter to open the Python3 Installation Guide on GitHub",
      "valid": true,
      "arg": "open,https://github.com/paulgit/alfred-ipinfo/wiki/Python3-Installation-Guide",
      "icon": {
        "path": "./images/info.png"
      }
    }
  ]
}'
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>ipinfo: Lookup your IP address information</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>16B3F428-D0D9-45DB-833D-9A5B709EC3B3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>54901FDD-C4F5-4671-97CD-7A6F8D06BD72</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open</string>
						<key>outputlabel</key>
						<string>open</string>
						<key>uid</key>
						<string>E321582E-0B25-4EE1-A3F5-155AB13C2188</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>copy</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C991287B-0F95-4196-B6C7-C20B31E3CC11</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>D1E9334D-A9DF-472A-9F0C-778FA94CB9D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>iplookup</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Gathering IP address information</string>
				<key>script</key>
				<string>UNAME_MACHINE="$(/usr/bin/uname -m)"
if [[ "${UNAME_MACHINE}" == "arm64" ]]
then
  HOMEBREW_PREFIX="/opt/homebrew"
else
  HOMEBREW_PREFIX="/usr/local"
fi

if command -v "$HOMEBREW_PREFIX/bin/python3" 1&gt;/dev/null 2&gt;&amp;1; then
	$HOMEBREW_PREFIX/bin/python3 main.py lookup_ipinfo $1
else
    echo '{
  "items": [
    {
      "title": "Python3 is required by this work flow",
      "subtitle": "Hit enter to open the Python3 Installation Guide on GitHub",
      "valid": true,
      "arg": "open,https://github.com/paulgit/alfred-ipinfo/wiki/Python3-Installation-Guide",
      "icon": {
        "path": "./images/info.png"
      }
    }
  ]
}'
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>iplookup: Lookup info for the specified IP address</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>431C45F3-D0D0-4E98-A914-ECD6F6A0FB87</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>557EEBD1-608E-4869-BEEB-98B84EE9AF0C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>iphelp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>UNAME_MACHINE="$(/usr/bin/uname -m)"
if [[ "${UNAME_MACHINE}" == "arm64" ]]
then
  HOMEBREW_PREFIX="/opt/homebrew"
else
  HOMEBREW_PREFIX="/usr/local"
fi

if command -v "$HOMEBREW_PREFIX/bin/python3" 1&gt;/dev/null 2&gt;&amp;1; then
	$HOMEBREW_PREFIX/bin/python3 main.py help_me
else
    echo '{
  "items": [
    {
      "title": "Python3 is required by this work flow",
      "subtitle": "Hit enter to open the Python3 Installation Guide on GitHub",
      "valid": true,
      "arg": "open,https://github.com/paulgit/alfred-ipinfo/wiki/Python3-Installation-Guide",
      "icon": {
        "path": "./images/info.png"
      }
    }
  ]
}'
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>iphelp: Show a list of example usage</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2B8BAD2F-12C5-433D-9475-DD53165DCC04</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open</string>
						<key>outputlabel</key>
						<string>open</string>
						<key>uid</key>
						<string>E321582E-0B25-4EE1-A3F5-155AB13C2188</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CCB9FCA1-8490-4BA8-91F6-8B2DCF60BE17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>C8C410D5-CB94-46C4-9998-8B1A644A86F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>E8CB6FDB-42CE-436F-A642-6394C9670082</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This site or product includes IP2Location™ Country Flags which available from https://www.ip2location.com.</string>
	<key>uidata</key>
	<dict>
		<key>16B3F428-D0D9-45DB-833D-9A5B709EC3B3</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>2B8BAD2F-12C5-433D-9475-DD53165DCC04</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>431C45F3-D0D0-4E98-A914-ECD6F6A0FB87</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>54901FDD-C4F5-4671-97CD-7A6F8D06BD72</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>557EEBD1-608E-4869-BEEB-98B84EE9AF0C</key>
		<dict>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>B7C68382-DB51-47C1-9579-573796A9030C</key>
		<dict>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>C8C410D5-CB94-46C4-9998-8B1A644A86F2</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>C991287B-0F95-4196-B6C7-C20B31E3CC11</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>CCB9FCA1-8490-4BA8-91F6-8B2DCF60BE17</key>
		<dict>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>D1E9334D-A9DF-472A-9F0C-778FA94CB9D0</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>E8CB6FDB-42CE-436F-A642-6394C9670082</key>
		<dict>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>APITOKEN</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>APITOKEN</string>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/paulgit/alfred-ipinfo</string>
</dict>
</plist>
